<a href="https://colab.research.google.com/github/uirom/ETC/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%84%EC%B2%98%EB%A6%AC_%EC%97%B0%EC%8A%B51.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv")
df.head()

,Unnamed: 0,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [ ]:
# 인기동영상 제작횟수가 많은 채널 상위 10개명을 출력하라 (날짜기준, 중복포함)
#df.loc[df['channelTitle'].(df[['channelId','channelTitle']].value_counts().head(10))]
df[['channelId','channelTitle']].value_counts().head(10)

SyntaxError: ignored

In [ ]:
# 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라

df.loc[df['dislikes']>df['likes']].channelTitle.unique()

array(['핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree', '양팡 YangPang',
       '철구형 (CHULTUBE)', '왜냐맨하우스', '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담',
       'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈',
       '나혼자산다 STUDIO', 'Gen.G esports'], dtype=object)

In [ ]:
#채널명을 한번이라도 바꾼 채널의 갯수를 구하여라

df[['channelId','channelTitle']].drop_duplicates().channelId.value_counts()

UCtQYhzJWFai1y30UIA3uwYQ    3
UC98TOxKQk4aLcx0EjIK0LkQ    3
UC4nEQI74rZkFKlUSwi0ur4A    2
UCn64fSqF2l4rkkjtQUpku2A    2
UCjO3ji06DxmTM1RrzLVwmkA    2
                           ..
UCuZu8NrpBG4WPXRi-hPBl-A    1
UCDrAR1OWC2MD4s0JLetN0MA    1
UCx2MVBsdTJ_sv0LiUpSQU2Q    1
UCu2R3TCLSxYV8pRyBGNOh2g    1
UCRCK5FCJtomQT3b88jXI_DA    1
Name: channelId, Length: 1770, dtype: int64

In [ ]:
# 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라

In [ ]:
AA = df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()
len(AA[AA>1])

71

In [ ]:
# 일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
df['day_name'] = df['trending_date2'].dt.day_name()
dd = df.loc[df['day_name'].str.contains('Sunday')]
dd['categoryId'].value_counts().index[0]

24

In [ ]:
# 각 요일별 인기 영상들
#의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라

df[['day_name','categoryId']].groupby('day_name').value_counts().to_frame('size').unstack()

           size                                                               \
categoryId   1    2    10   15   17  19   20    22   23    24   25   26   27
day_name
Friday      243  120  833  187  633  90  283  1288  568  2976  444  369  183
Monday      263  105  837  215  668  92  298  1373  594  3148  453  378  205
Saturday    255  119  776  198  592  87  296  1289  570  3066  422  364  183
Sunday      274   99  830  217  636  91  289  1337  556  3096  437  363  199
Thursday    246  128  890  207  682  92  282  1341  560  2954  470  375  194
Tuesday     257  119  894  208  708  89  285  1375  569  3084  452  394  194
Wednesday   234  129  917  207  706  85  291  1333  566  3090  468  385  212


categoryId   28  29
day_name
Friday      171  12
Monday      160  10
Saturday    173  10
Sunday      167   9
Thursday    166  13
Tuesday     161  11
Wednesday   165  12

In [ ]:
# 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다.
# viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)
dd = df.loc[df['view_count']!=0]
d = dd.copy()

d['ratio'] = (dd['comment_count']/dd['view_count']).dropna()
df['ratio'] = d['ratio']
df.sort_values('ratio', ascending=False)

In [ ]:
# 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다
# viewcount대비 댓글수가 가장 낮은 영상을 확인하라 (view_counts, ratio값이 0인경우는 제외한다.)

va = df.loc[(df['view_count']!=0) & (df['ratio']!=0)]
vaa = va.copy()
vaa['judge'] = va['comment_count']/va['view_count']
df['judge'] = vaa['judge']
df.sort_values('judge', ascending=True)

,Unnamed: 0,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2,day_name,ratio,judge
46005,46005,Join the BTS #PermissiontoDance Challenge only...,YouTube,27,46458563,0,0,1,UCBR8-60-B28hp2BmDPdntcQ,2021-08-09,Monday,2.152456e-08,2.152456e-08
46210,46210,Join the BTS #PermissiontoDance Challenge only...,YouTube,27,51624621,0,0,2,UCBR8-60-B28hp2BmDPdntcQ,2021-08-10,Tuesday,3.874120e-08,3.874120e-08
51798,51798,Butter (feat. Megan Thee Stallion),BTS - Topic,10,5176179,575871,7044,1,UC9vrvNSL3xcWGSkV86REBSg,2021-09-06,Monday,1.931927e-07,1.931927e-07
51579,51579,Butter (feat. Megan Thee Stallion),BTS - Topic,10,5059479,573419,6860,1,UC9vrvNSL3xcWGSkV86REBSg,2021-09-05,Sunday,1.976488e-07,1.976488e-07
51353,51353,Butter (feat. Megan Thee Stallion),BTS - Topic,10,4923363,569943,6637,1,UC9vrvNSL3xcWGSkV86REBSg,2021-09-04,Saturday,2.031132e-07,2.031132e-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60326,60326,[클린버전] 김유하 - 아! 옛날이여 #내일은국민가수 1화 TV...,내일은 국민가수 공식계정,10,2488721,31116,1571,0,UC33yEDM8q3N8BeMpZMdP66Q,2021-10-19,Tuesday,0.000000e+00,NaN
60356,60356,[클린버전] 안 율 - 어느날 문득 #내일은국민가수 1화 TV CHOSUN 2110...,내일은 국민가수 공식계정,10,1330212,19957,828,0,UC33yEDM8q3N8BeMpZMdP66Q,2021-10-19,Tuesday,0.000000e+00,NaN
60374,60374,메밀꽃 필무렵,Lee Chanwon - Topic,10,870941,21727,432,0,UClch5s6f5W3YPW3CK7BDDTg,2021-10-19,Tuesday,0.000000e+00,NaN
60388,60388,그댈 만나러 갑니다,Lee Chanwon - Topic,10,612049,16494,238,0,UClch5s6f5W3YPW3CK7BDDTg,2021-10-19,Tuesday,0.000000e+00,NaN
60389,60389,Savage,aespa - Topic,10,6500716,84626,3174,0,UCEdZAdnnKqbaHOlv8nM6OtA,2021-10-19,Tuesday,0.000000e+00,NaN

In [ ]:
# like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)
dd = df.loc[(df['likes']!=0) & (df['dislikes']!=0)]
d = dd.copy()
d['ratio'] = dd['dislikes']/dd['likes']
dd['ratio'] = d['ratio']
dd.sort_values('ratio').iloc[0,1]

<ipython-input-241-1ff517177fd7>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd['ratio'] = d['ratio']

'[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰'

In [ ]:
df = df.drop(columns=['judge','aa','lp'])

In [ ]:
# 가장많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함)


df[['channelId','channelTitle']].groupby(['channelId','channelTitle']).value_counts().sort_values(ascending=False)

channelId                 channelTitle
UCszFjh7CEfwDb7UUGb4RzCQ  짤툰                       372
UClzB2iZ5jPoTNz0S-QU6Wiw  파뿌리                      318
UCtm_QoN2SIxwCE-59shX7Qg  SPOTV                    318
UCaKod3X1Tn4c7Ci0iUKcvzQ  런닝맨 - 스브스 공식 채널          313
UCiwQRG2sCcfjKkgxMEdJGPg  엠뚜루마뚜루 : MBC 공식 종합 채널    293
                                                  ...
UCESC_GRUe4Z7-OOxk_AWm5Q  명랑한 봄달래                    1
UCEqMMsgBKhJXoeTX8buLm7g  깽냥툰 KY'T                   1
UCj00eA-Q0lokXCA6JAa_grw  공원생활 / ParkLife            1
UCEzZcejf28Oetz9TC5TuqSA  윤혜진의 What see TV           1
UCMZ-YiylAQg_KDjheegE1pg  정동원티비 - 공식채널 OFFICIAL      1
Length: 1843, dtype: int64

In [ ]:
df.loc[df['channelId'].str.contains(df['channelId'].value_counts().index[0])]

,Unnamed: 0,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2,day_name,ratio
76,76,[병영일기] 부식,짤툰,1,1496529,26284,1422,5710,UCszFjh7CEfwDb7UUGb4RzCQ,2021-01-01,Friday,0.003815
325,325,[병영일기] 부식,짤툰,1,1518445,26402,1442,5730,UCszFjh7CEfwDb7UUGb4RzCQ,2021-01-02,Saturday,0.003774
558,558,[병영일기] 부식,짤툰,1,1537676,26511,1453,5752,UCszFjh7CEfwDb7UUGb4RzCQ,2021-01-03,Sunday,0.003741
778,778,[병영일기] 부식,짤툰,1,1553145,26603,1455,5760,UCszFjh7CEfwDb7UUGb4RzCQ,2021-01-04,Monday,0.003709
999,999,[병영일기] 부식,짤툰,1,1565338,26659,1456,5768,UCszFjh7CEfwDb7UUGb4RzCQ,2021-01-05,Tuesday,0.003685
...,...,...,...,...,...,...,...,...,...,...,...,...
55966,55966,[짐승친구들] 추석 특집! 욕쟁이 앵무새 VS 짐승친구들,짤툰,1,1419688,27888,517,3411,UCszFjh7CEfwDb7UUGb4RzCQ,2021-09-27,Monday,0.002403
56195,56195,[짐승친구들] 추석 특집! 욕쟁이 앵무새 VS 짐승친구들,짤툰,1,1450622,28089,521,3418,UCszFjh7CEfwDb7UUGb4RzCQ,2021-09-28,Tuesday,0.002356
59814,59814,[짐승친구들] 느그 이름은,짤툰,1,1014334,24234,399,2495,UCszFjh7CEfwDb7UUGb4RzCQ,2021-10-17,Sunday,0.002460
60033,60033,[짐승친구들] 느그 이름은,짤툰,1,1237262,27081,461,2705,UCszFjh7CEfwDb7UUGb4RzCQ,2021-10-18,Monday,0.002186
60241,60241,[짐승친구들] 느그 이름은,짤툰,1,1374286,28365,510,2807,UCszFjh7CEfwDb7UUGb4RzCQ,2021-10-19,Tuesday,0.002043

In [ ]:
# 20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?

dd = df[['title','channelId']].value_counts().to_frame('size')
len(dd.loc[dd['size']>=20])

40

In [ ]:
import pandas as pd
import numpy as np

video = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv")
channel = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv")
video.head()

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

In [ ]:
# 각 데이터의 ‘ct’컬럼을 시간으로 인식할수 있게 datatype을 변경하고
# video 데이터의 videoname의 각 value 마다 몇개의 데이터씩 가지고 있는지 확인하라

video['ct'] = pd.to_datetime(video['ct'])
video['videoname'].value_counts()

 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: videoname, dtype: int64

In [ ]:
# 수집된 각 video의 가장 최신화 된 날짜의 viewcount값을 출력하라
video.sort_values('ct', ascending=False).drop_duplicates('videoname', keep='first')[['viewcnt','ct','videoname']].sort_values('videoname').reset_index(drop=True)

   viewcnt                  ct videoname
0  3180532 2021-11-01 15:30:03    공범 EP1
1  2199328 2021-11-01 15:30:03    공범 EP2
2  1671294 2021-11-01 15:30:03    공범 EP3
3  1818493 2021-11-01 15:30:03    공범 EP4
4  1503435 2021-11-01 15:30:04    공범 EP5
5  1750222 2021-11-01 15:30:04    공범 EP6
6  1630200 2021-11-01 15:30:05    공범 EP7
7  1289088 2021-11-01 15:30:05    공범 EP8

In [ ]:
# Channel 데이터중 2021-10-03일 이후 각 채널의 처음 기록 됐던 구독자 수(subcnt)를 출력하라

channel['ct'] = pd.to_datetime(channel['ct'])
channel.loc[channel['ct'].dt.strftime('%Y-%m-%d')=='2021-10-03'].sort_values('ct')[['channelname','subcnt']].drop_duplicates('channelname', keep='first')

          channelname   subcnt
139             야전삽짱재   257000
266        츄정ChuJeong   322000
393            논리왕 전기   922000
1028      릴펄 Lilpearl    10100
901        김농밀의 농밀한 삶     7520
774           형사!탐정되다    14900
647               조나단   215000
520   와글와글 WagleWagle    55000
12                꽈뚜룹  1330000
1276    Balming Tiger    54300
1155    곽토리 kwak tori   471000

In [ ]:
# 각채널의 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 까지 구독자수 (subcnt) 의 증가량을 구하여라
start = channel.loc[channel['ct'].dt.strftime('%Y-%m-%d %H')==('2021-10-03 03')].sort_values('channelname').reset_index(drop=True)
end = channel.loc[channel['ct'].dt.strftime('%Y-%m-%d %H')==('2021-11-01 15')].sort_values('channelname').reset_index(drop=True)

end['차이'] = end['subcnt']-start['subcnt']
end[['channelname','차이']]

        channelname     차이
0     Balming Tiger   2500
1     곽토리 kwak tori  -2000
2        김농밀의 농밀한 삶   1540
3               꽈뚜룹  70000
4            논리왕 전기 -11000
5       릴펄 Lilpearl  11000
6             야전삽짱재  11000
7   와글와글 WagleWagle      0
8               조나단  12000
9        츄정ChuJeong   1000
10          형사!탐정되다  10300

In [ ]:
# 각 비디오는 10분 간격으로 구독자수, 좋아요, 싫어요수, 댓글수가 수집된것으로 알려졌다.
#  공범 EP1의 비디오정보 데이터중 수집간격이 5분 이하, 20분이상인 데이터 구간( 해당 시점 전,후) 의 시각을 모두 출력하라
import datetime
ep = video.loc[video['videoname'].str.contains('공범 EP1')].reset_index(drop=True)
ep[(ep['ct'].diff(1) >= datetime.timedelta(minutes=20)) | (ep['ct'].diff(1) <= datetime.timedelta(minutes=5))]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1
418,c5JQp6xafqc,1700233,30747,716,0,6632,2021-10-10 17:00:03,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1

In [ ]:
import datetime

ep_one = video.loc[video.videoname.str.contains('1')].sort_values('ct').reset_index(drop=True)

ep_one[(ep_one.ct.diff(1) >=datetime.timedelta(minutes=20)) | \
        (ep_one.ct.diff(1) <=datetime.timedelta(minutes=5))]

answer = ep_one[ep_one.index.isin([720,721,722,723,1635,1636,1637])]
display(answer)

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,공범 EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1

In [ ]:
# 각 에피소드의 시작날짜(년-월-일)를 에피소드 이름과 묶어 데이터 프레임으로 만들고 출력하라

video.sort_values('ct',ascending=True).drop_duplicates('videoname')[['ct','videoname']]

                       ct videoname
10    2021-10-07 19:10:03    공범 EP1
3496  2021-10-09 19:10:03    공범 EP2
6696  2021-10-14 19:10:04    공범 EP3
9264  2021-10-16 19:10:04    공범 EP4
11544 2021-10-21 19:10:04    공범 EP5
13661 2021-10-23 19:10:04    공범 EP6
13106 2021-10-28 19:10:04    공범 EP7
14935 2021-10-30 19:20:04    공범 EP8

In [ ]:
# “공범” 컨텐츠의 경우 19:00시에 공개 되는것으로 알려져있다.
# 공개된 날의 21시의 viewcnt, ct, videoname 으로 구성된 데이터 프레임을 viewcnt를 내림차순으로 정렬하여 출력하라
video['ct'] = pd.to_datetime(video['ct'])
#video.loc[video['ct'].dt.hour==19].drop_duplicates('videoname')
video.loc[video['ct'].dt.hour==21].drop_duplicates('videoname')[['viewcnt','ct','videoname']].sort_values('viewcnt', ascending=False)

       viewcnt                  ct videoname
14945   264029 2021-10-30 21:00:08    공범 EP8
13117   252032 2021-10-28 21:00:04    공범 EP7
9275    217674 2021-10-16 21:00:04    공범 EP4
13672   213899 2021-10-23 21:00:06    공범 EP6
11555   201179 2021-10-21 21:00:04    공범 EP5
3507    148144 2021-10-09 21:00:03    공범 EP2
6707    147183 2021-10-14 21:00:04    공범 EP3
21      117340 2021-10-07 21:00:03    공범 EP1

In [ ]:
# video 정보의 가장 최근 데이터들에서 각 에피소드의 싫어요/좋아요 비율을 ratio 컬럼으로 만들고
# videoname, ratio로 구성된 데이터 프레임을 ratio를 오름차순으로 정렬하라

dd = video.drop_duplicates('videoname', keep='last')
dd['ratio'] = dd['dislikecnt']/dd['likecnt']
dd[['videoname','ratio']].sort_values('ratio').reset_index(drop=True)

<ipython-input-12-71bcfe2a7e7f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd['ratio'] = dd['dislikecnt']/dd['likecnt']

  videoname     ratio
0    공범 EP7  0.013636
1    공범 EP6  0.015881
2    공범 EP4  0.017971
3    공범 EP5  0.021128
4    공범 EP3  0.022360
5    공범 EP1  0.027118
6    공범 EP2  0.029844
7    공범 EP8  0.141357

In [ ]:
# 2021-11-01 00:00:00 ~ 15:00:00까지 각 에피소드별 viewcnt의 증가량을 데이터 프레임으로 만드시오

vv = video.loc[video['ct'].dt.strftime('%Y-%m-%d')==('2021-11-01')]
up = vv.loc[vv['ct'].dt.strftime('%H:%M:%S')>=('15:00:00')].sort_values('videoname').drop_duplicates('videoname', keep='first').reset_index(drop=True)
down = vv.loc[vv['ct'].dt.strftime('%H:%M:%S')>=('00:00:00')].sort_values('videoname').drop_duplicates('videoname', keep='first').reset_index(drop=True)


down['diff'] = up['viewcnt']-down['viewcnt']
down
#down[['videoname','diff']]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,diff
0,c5JQp6xafqc,3166400,40970,1107,0,7665,2021-11-01 00:00:03,공범 EP1,13571
1,23QQ1ru9YQg,2196191,25541,762,0,9174,2021-11-01 10:10:02,공범 EP2,2880
2,GygoAk1hDU0,1668889,22696,507,0,12496,2021-11-01 11:10:03,공범 EP3,2069
3,bK0_3Vbfvs8,1815884,22681,406,0,16959,2021-11-01 10:00:04,공범 EP4,2289
4,hv7FBjskAu0,1501340,19908,420,0,12433,2021-11-01 11:20:04,공범 EP5,1707
5,AxGKHmXyuAE,1744331,24450,388,0,13016,2021-11-01 05:20:04,공범 EP6,5891
6,QUjQbgj5IXM,1624398,29294,398,0,18243,2021-11-01 11:40:04,공범 EP7,5683
7,yZt-h-KcmUE,1261042,25407,3578,0,31289,2021-11-01 09:50:05,공범 EP8,27096

In [ ]:
start = pd.to_datetime('2021-11-01 00:00:00')
end = pd.to_datetime('2021-11-01 15:00:00')

ddf = video.loc[(video['ct']>=start) & (video['ct']<=end)].reset_index(drop=True)

def filter(x):
  result = max(x)-min(x)
  return result

ddf[['videoname','viewcnt']].groupby('videoname').agg(filter)

           viewcnt
videoname
 공범 EP1      13298
 공범 EP2      10300
 공범 EP3       9927
 공범 EP4       9824
 공범 EP5      10824
 공범 EP6      14141
 공범 EP7      26949
 공범 EP8      89147

In [ ]:
# video 데이터 중에서 중복되는 데이터가 존재한다. 중복되는 각 데이터의 시간대와 videoname 을 구하여라
video[video.index.isin(set(video.index) - set(video.drop_duplicates().index))]
#video[video.index.isin(set(video.index) -  set(video.drop_duplicates().index))]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
3927,23QQ1ru9YQg,1408005,20484,554,0,8567,2021-10-13 09:41:37,공범 EP2

In [ ]:
# 분류 회귀
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder as le
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler

from sklearn.model_selection import train_test_split

from sklearn.metrics import roc_auc_score, f1_score
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_percentage_error as mape
from sklearn.metrics import mean_squared_log_error as msle

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
#
def get_scores(model, X_train, X_test, y_train, y_test):
  A = model.score(X_train, y_train)
  B = model.score(X_test, y_test)
  y_pred = model.predict(X_test)
  C = f1_score(y_test, y_pred, average='macro')
  y_proba = model.predict_proba(X_test)[:,1]
  D = roc_auc_score(y_test, y_proba, average='macro', multi_class='ovo')
  return f'accuracy: {A:.4f}  {B:.4f}     f1_score : {C:.4f}      roc_auc_score:{D:.4f}'

In [ ]:
def get_scores(model, X_train, X_test, y_train, y_test):
  A = model.score(X_train, y_train)
  B = model.score(X_test, y_test)
  y_pred = model.predict(X_test)
  y_pred = np.where(y_pred>0, y_pred, -y_pred)
  C = mse(y_test, y_pred)**0.5
  D = mape(y_test, y_pred)
  E = msle(y_test, y_pred)**0.5
  return f'accuracy: {A:.4f}  {B:.4f}    rmse : {C:.4f}   mape : {D:.4f}     rmsle : {E:.4f}'

In [ ]:
from scipy.stats import ttest_1samp, ttest_ind, ttest_rel
from scipy.stats import shapiro, levene
from scipy.stats import chisquare, chi2_contingency

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv")
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [ ]:
# 주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력하라

df.groupby('Country').sum().sort_values('Goals', ascending=False).head()

<ipython-input-78-ac2c4a2a7541>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Country').sum().sort_values('Goals', ascending=False).head()

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

In [ ]:
# 주어진 전체기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 데이터 프레임 형식으로 출력하라

df.groupby('Country').size().sort_values(ascending=False).to_frame().head(5)

                   Player  Goals                Years     Country
0          Miroslav Klose     16  2002-2006-2010-2014     Germany
1                 Ronaldo     15       1998-2002-2006      Brazil
2             Gerd Muller     14            1970-1974     Germany
3           Just Fontaine     13                 1958      France
4                    Pele     12  1958-1962-1966-1970      Brazil
...                   ...    ...                  ...         ...
1290        Josip Skoblar      1                 1962  Yugoslavia
1291          Safet Susic      1            1982-1990  Yugoslavia
1292  Aleksandar Tirnanic      1                 1930  Yugoslavia
1293  Djordje Vujadinovic      1                 1930  Yugoslavia
1294         Branko Zebec      1            1954-1958  Yugoslavia

[1295 rows x 4 columns]

In [ ]:
# Years 컬럼은 년도 -년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다. 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇건인지 출력하라
df['count'] = df['Years'].str.split('-').str.len()
df['count'].value_counts()

df['Yearst'] = df['Years'].str.split('-')

def filter(x):
  for value in x:
    if len(value) != 4:
      return False
  return True

df['cc'] = df['Yearst'].apply(filter)
len(df[df.cc==False])

45

In [ ]:
# 월드컵 출전횟수를 나타내는 ‘LenCup’ 컬럼을 추가하고 4회 출전한 선수의 숫자를 구하여라

df = df.rename(columns={'count':'LenCup'})
df = df.drop(columns=['Yearst'])

In [ ]:
# Yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하여라
df.loc[(df['LenCup']==2) & (df['Country'].str.contains('Yugoslavia'))].shape[0]

7

In [ ]:
# 2002년도에 출전한 전체 선수는 몇명인가?

df.loc[df['Years'].str.contains('2002')].Player.count()

156

In [ ]:
# 이름에 ‘carlos’ 단어가 들어가는 선수의 숫자는 몇 명인가? (대, 소문자 구분 x)
df.loc[df['Player'].str.lower().str.contains('carlos')].Player.count()

13

In [ ]:
# 월드컵 출전 횟수가 1회뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구인가?

df.loc[df['LenCup']==1].sort_values('Goals', ascending=False).iloc[0]

Player     Just Fontaine
Goals                 13
Years               1958
Country           France
LenCup                 1
cc                  True
Name: 3, dtype: object

In [ ]:
# 월드컵 출전횟수가 1회 뿐인 선수들이 가장 많은 국가는 어디인가?

df.loc[df['LenCup']==1].Country.value_counts().index[0]

'Brazil'

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv")
df.head()

         대여일자  대여시간  대여소번호 대여구분코드 성별 연령대코드  이용건수    운동량   탄소량     이동거리  사용시간
0  2021-06-01     0   3541    정기권  F  ~10대     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    정기권  F  ~10대     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    정기권  F  ~10대     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    정기권  F  ~10대     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    정기권  F  ~10대     1  13.04  0.17   731.55     6

In [ ]:
# 대여일자별 데이터의 수를 데이터프레임으로 출력하고, 가장 많은 데이터가 있는 날짜를 출력하라

df['대여일자'] = pd.to_datetime(df['대여일자'])
df[['대여일자','이용건수']].groupby('대여일자').size().to_frame().sort_values('대여일자')

                0
대여일자
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945

In [ ]:
# 각 일자의 요일을 표기하고 (‘Monday’ ~’Sunday’) ‘day_name’컬럼을 추가하고
# 이를 이용하여 각 요일별 이용 횟수의 총합을 데이터 프레임으로 출력하라

df['day_name'] = df['대여일자'].dt.day_name()
df[['day_name', '이용건수']].groupby('day_name').size().to_frame().sort_values('day_name')

                0
day_name
Friday     108877
Monday     107568
Saturday   101299
Sunday      90918
Thursday    55977
Tuesday    103704
Wednesday  110607

In [ ]:
# 각 요일별 가장 많이 이용한 대여소의 이용횟수와 대여소 번호를 데이터 프레임으로 출력하라

df[['day_name','대여소번호']].groupby(['day_name', '대여소번호']).size().groupby('day_name').head(1)

day_name   대여소번호
Friday     102      145
Monday     102      135
Saturday   102      136
Sunday     102      113
Thursday   102       64
Tuesday    3          2
Wednesday  102      176
dtype: int64